In [1]:
import numpy as np
import pandas as pd

In [3]:
#index lvls
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df #criando index multilvl

             A         B
G1 1 -0.501774  0.283220
   2 -0.434060  0.457328
   3  0.850961 -1.569642
G2 1 -1.005744  0.331051
   2  0.171729  2.087482
   3  0.460816  1.189692

In [11]:
df.loc['G1'].loc[1]

A   -0.501774
B    0.283220
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Group','Num']

In [14]:
df

                  A         B
Group Num
G1    1   -0.501774  0.283220
      2   -0.434060  0.457328
      3    0.850961 -1.569642
G2    1   -1.005744  0.331051
      2    0.171729  2.087482
      3    0.460816  1.189692

In [15]:
df.xs('G1') #cross section dentro do index

            A         B
Num
1   -0.501774  0.283220
2   -0.434060  0.457328
3    0.850961 -1.569642

In [16]:
df.xs(1, level='Num') #puxando item de ambos grupos

              A         B
Group
G1    -0.501774  0.283220
G2    -1.005744  0.331051