In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [9]:
df[df['W']>0] #somente retornando valores true

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
#conceito de multiplas condições

In [11]:
df[(df['W']>0) & (df['Y']>1)] ##

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [12]:
newind = 'CA NY WY OR CO'.split() #criando lista p adicionar novo index

In [13]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [14]:
df['States'] = newind

In [15]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO